{% extends "layout.html" %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block body %}
<div class="menu">
    <h2>Login</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="grid-login">
            <div class="item">
                <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
            </div>
            <div class="item">
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="item">
                <input class="btn btn-primary" type="submit" value="Log in">
            </div>
        </div>
    </form>
</div>
{% endblock %}